{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Mission</h5>
                        <h5 class="mb-0">To provide humane safekeeping and developmental opportunities for Persons Deprived of Liberty (PDL) in the promotion of public safety.</h5>
                    </div>


                    <div class="section-title mb-4">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Vision</h5>
                        <h5 class="mb-0">By 2040, a world-class agency highly capable of providing humane safekeeping and developmental opportunities for Persons Deprived of Liberty (PDL).</h5>
                    </div>



                    
                </div>


                <div class="col-lg-5" style="min-height: 100px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'website/img/newbuilding.jpg' %}" style="object-fit: contain;">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


{% endblock %}