{% extends 'base.html' %}
{% load static %}
{% block content %}


<script>
  $(document).on("click", ".open-preview_modal", function (e) {
    e.preventDefault();
    var $preview_modal = $("#preview_modal");
    var popup_url = $(this).data("popup-url");

    $(".modal-body", $preview_modal).load(popup_url, function () {
      $preview_modal.modal("show");
      
      /*$(".modal-backdrop").remove();-->*/
    $("#btnClosePopup").click(function () {
            $("#preview_modal").modal("hide");
        });
    });
  });


    

</script>

<div id="preview_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button id ="btnClosePopup" type="button" class="btn btn-primary close" data-dismiss="modal" target="_blank" aria-label="Close">Close
        </button>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid py-3">



	<div class="container">

	

	
		<div class="row">

			

		<div class ="card-header">
		
			<h2 class="mb-0 d-flex justify-content-left">Letter</h2>
			<form  action="{% url 'searchletter' %}" method=POST>
				{% csrf_token %}
			<div class="input-group d-flex justify-content-end">
			
  				<div class="form-outline">
    				<input type="text"  name="searched" class="form-control" />
    			
  				</div>
  				<button id="search-button" type="submit" class="btn btn-primary">
    			<i class="fas fa-search"></i>
  				</button>
			</div>
			</form>
			
		</div>
	
		{% csrf_token %}
			<div class="col-md-12 shadow checkoutform">

				<div class="card-body">
				<div class="table-responsive">
					<table id="sales-info" class="table table-bordered">
						<thead>
							<tr>
								<th>Letter Description</th>
								<th>Letter Sender</th>
								<th>Date Send</th>
								<th>Signaturee | Status</th>
								<th>Signaturee | Status</th>
								<th>Signaturee | Status</th>
                                <th>Signaturee | Status</th>
								<th>Remarks</th>
							</tr>
						</thead>
						<tbody>
							{% csrf_token %}
							{% for item in idapplication %}
							
							

							<tr>
								<td>{{item.letter_desc}}</td>
								<td>{{item.sender}}</td>
								<td>{{item.date_send}}</td>
								<td>{{item.aprover_1}}<br>{{item.stat_1}}</td>
                                <td>{{item.aprover_4}}<br>{{item.stat_4}}</td>
								<td>{{item.aprover_2}}<br>{{item.stat_2}}</td>
								<td>{{item.aprover_3}}<br>{{item.stat_3}}</td>
                              
                              
								<td><h5>RCDS:</h5>{% if item.comment_rcds%}<a class="open-preview_modal" data-toggle ="modal" data-target="#preview_modal" href="{% url 'modal_view' id=item.id %}"data-popup-url="{% url 'modal_view' id=item.id %}"
  >View</a>{%else%}{{item.comment_rcds}}{%endif%}<br><h5>ARDO:</h5>{% if item.comment_ardo%}<a class="open-preview_modal" data-toggle ="modal" data-target="#preview_modal" href="{% url 'modal_view' id=item.id %}"data-popup-url="{% url 'modal_view' id=item.id %}"
  >View</a>{%else%}{{item.comment_ardo}}{%endif%}<br><h5>ARDA:</h5>{% if item.comment_arda%}<a class="open-preview_modal" data-toggle="modal" data-target="#preview_modal" href="{% url 'modal_view_arda' id=item.id %}"data-popup-url="{% url 'modal_view_arda' id=item.id %}">View</a>{%else%}{{item.comment_arda}}{%endif%}<br><h5>RD:</h5>{% if item.comment_rd%}<a class="open-preview_modal" data-toggle="modal" data-target="#preview_modal" href="{% url 'modal_view_rd' id=item.id %}"data-popup-url="{% url 'modal_view_rd' id=item.id %}">View</a></h7>{%else%}{{item.comment_rd}}{%endif%}<br></td>
								
								
								



								
							</tr>
								{% endfor %}


						</tbody>
					</table>




	<script>
		var t = document.getElementById('sales-info');
		if(t) {
			Array.from(t.rows).forEach((td, rowIdx) => {
				Array.from(td.cells).forEach((cell, cellIdx) => {
					if (cell.innerText == 'sdf') {
						cell.style.backgroundColor = 'RGBA(95,160,97,0.6)';
					}else if (cell.textContent == "RCDSPending") {
						cell.style.backgroundColor = 'RGBA(249,38,19,1)';
					}else if (cell.textContent == 'RCDSApproved') {
						cell.style.backgroundColor = 'RGBA(3,201,169,1)';
					}
                    else if (cell.textContent == 'ARDAApproved') {
						cell.style.backgroundColor = 'RGBA(3,201,169,1)';
					}
					else if (cell.textContent == "ARDAPending") {
						cell.style.backgroundColor = 'RGBA(249,38,19,1)';
					}
					else if (cell.textContent == 'RDApproved') {
						cell.style.backgroundColor = 'RGBA(3,201,169,1)';
					}
					else if (cell.textContent == "RDPending") {
						cell.style.backgroundColor = 'RGBA(249,38,19,1)';
					}
                    else if (cell.textContent == 'ARDOApproved') {
                        cell.style.backgroundColor = 'RGBA(3,201,169,1)';
                    }
                    else if (cell.textContent == "ARDOPending") {
                        cell.style.backgroundColor = 'RGBA(249,38,19,1)';
                    }
				});
			});
		}
		
    </script>
				</div>
				
				
				</div>
			</div> 

		

		</div>

	</div>





</div>
{% endblock %}


	
